{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% include 'nav/navbar.html.twig' %}
    <div class="container">
        <h1>Accueil</h1>
        <h2>Bibliothèque Priam</h2>
        <div class="section">
            <div class="presentation">
                <h3>Présentation</h3>
                <p>A remplir</p>
            </div>
            <div class="horaire">
                <h3>Nos horaires</h3>
                <p>Lundi : 8h - 18h</p>
                <p>Mardi : 8h - 18h</p>
                <p>Mercredi : 8h - 18h</p>
                <p>Jeudi : 8h - 18h</p>
                <p>Venddredi : 8h - 18h</p>
                <p>Samedi : 8h - 18h</p>
                <p>Dimanche : 8h - 14h</p>
            </div>
        </div>
    </div>
    {% include 'footer/footer.html.twig' %}
{% endblock %}
