{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include 'nav/navbar.html.twig' %}
    <div class="container">
        <h1>Accueil</h1>
        <div class="section">
            <div class="presentation">
                <h2>Présentation</h2>
                <h3>Bienvenue à la Bibliothèque Priam !</h3>
                <p id="presentation">
                    Au cœur de notre communauté, la bibliothèque Priam est bien plus qu'un simple lieu de prêt de livres. C'est un sanctuaire de connaissances, un foyer pour l'imagination et un carrefour de la culture. Nous sommes fiers d'être le refuge de tous ceux qui aspirent à explorer, apprendre et se divertir.
                    Notre bibliothèque offre une vaste sélection de livres pour tous les âges et tous les intérêts. Des classiques intemporels aux nouveautés les plus brûlantes, notre collection diversifiée garantit qu'il y a quelque chose pour chacun. Que vous soyez passionné de fiction, de non-fiction, de littérature jeunesse, de sciences, d'histoire ou de tout autre domaine, vous trouverez sûrement votre bonheur parmi nos étagères.
                    Mais notre mission ne se limite pas à fournir des livres. Nous sommes également un centre d'apprentissage dynamique, offrant des ressources et des services pour soutenir l'éducation et le développement personnel de notre communauté. Des programmes pour enfants aux ateliers pour adultes, des clubs de lecture aux conférences, nous offrons un éventail d'activités visant à enrichir les esprits et à favoriser le dialogue.
                    En plus de nos collections physiques, nous offrons également un accès à une gamme de ressources numériques, y compris des livres électroniques, des journaux en ligne, des bases de données spécialisées et bien plus encore. Grâce à notre engagement envers la technologie, nous veillons à ce que nos membres puissent explorer et découvrir de nouveaux horizons, que ce soit dans le confort de leur foyer ou au sein de nos murs.
                    Notre bibliothèque est également un lieu de rassemblement, un endroit où les membres de la communauté peuvent se réunir pour échanger des idées, partager des expériences et tisser des liens. Que ce soit lors d'un événement spécial, d'une séance de dédicace d'auteur ou simplement autour d'une tasse de café dans notre espace de lecture confortable, nous célébrons la richesse de la diversité et de la camaraderie.
                    Que vous soyez un lecteur passionné, un chercheur avide de connaissances ou simplement à la recherche d'un endroit tranquille pour vous détendre, nous vous invitons à nous rendre visite à la bibliothèque Priam. Explorez, découvrez, apprenez et laissez-vous inspirer par tout ce que nous avons à offrir. Nous sommes là pour vous accompagner dans votre voyage vers la découverte et l'épanouissement.
                </p>
            </div>
            <div class="horaire">
                <h2>Nos horaires</h2>
                <p>
                    Lundi :
                    <br>
                    8h - 18h</p>
                <p>
                    Mardi :
                    <br>
                    8h - 18h
                </p>
                <p>
                    Mercredi :
                    <br>
                    8h - 18h
                </p>
                <p>
                    Jeudi :
                    <br>
                    8h - 18h
                </p>
                <p>
                    Venddredi :
                    <br>
                    8h - 18h
                </p>
                <p>
                    Samedi :
                    <br>
                    8h - 18h
                </p>
                <p>
                    Dimanche :
                    <br>
                    8h - 14h
                </p>
            </div>
        </div>
    </div>
    {% include 'footer/footer.html.twig' %}
{% endblock %}
