<footer>
    <div class="contact">
        <div>
            <h2>Nous contacter</h2>
            <p>Email : bibliothèque.priam@gmail.compt
            <p>Numéro de téléphone : 01.26.56.99.56
        </div>
        <div>
            <img src="{{ asset('images/facebook.png') }}" alt="Facebook">
            <img src="{{ asset('images/insta.png') }}" alt="Instagram">
        </div>
    </div>
    <p>@2024 Bibliothèque Priam. Tous droits reservés</p>
</footer>